html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainWrapper {
  height: 100vh;
  width: 100wh;
  background-color: #f1b452;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80vw;
  height: 80vh;
  background: #132f41;
  border-radius: 10px;
}
.imageWrapper {
  margin: 40px;
  border-radius: 10px;
  display: flex;
  background: #ffffff45;
  justify-content: center;
  align-items: center;
}
.homeImage {
  width: 300px;
  margin: 30px;
}
.imagebg {
  background-color: #ffffff45;
  padding: 20px;
  border-radius: 10000px;
}
.imageWrapperWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeText {
  font-weight: 300;
  font-size: 28px;
}
